.footer {
  width: 90%;
  height: 100px;
  /* border-top: 1px solid #eaeaea; */
  display: flex;
  justify-content: right;
  align-items: center;
}

.logo {
  height: 3em;
  margin: 5px;
}

.footer p {
  margin: 1em;
  line-height: 1.5;
}
