.header {
  width: 100%;
  /* height: 100px; */
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: space-evenly;
  align-items: left;
  text-align: left;
  align-self: center;
  /* background-color: rgb(223, 223, 223); */
}

.homeLink , .homeLink:hover, .homeLink:visited, .homeLink:active {
  display: flex;
  justify-content: flex-start;
  align-items: space-between;
  text-align: left;
  margin: 0;
  padding: 1rem;
  padding-left: 0;
  /* width: 90%; */
  width: 100%;

  color: black;
  text-decoration: none;
}



.headline{
  margin: 0;
  padding: 1rem;
  padding-left: 0;
  font-size: 2rem;
  font-style: italic;
  font-weight: lighter;
  width: 70%;
}

.subheadline{
  margin: 0;
  padding: 1rem;
  padding-left: 0;
  font-size: 1rem;
  font-style: italic;
  font-weight: lighter;
  /* width: 70%; */
  align-self: center;
}

.logo {
  height: 3em;
  margin: 5px;
}
