html,
body {
  background-color: #f8fafc;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  /* padding: 5rem 0; */
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: left;
  width: 90%;
  /* text-align: left; */
}

mainaudio {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: left;
  width: 100%;
}

.hero{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: center; */
  text-align: center;
  margin-top: 1rem;
}
.hero img {
  width: 50%;
  /* height: 50%; */
  object-fit: cover;
}

.tube{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
  text-align: center;
}


.tube iframe {
    border: none;
    object-fit: cover;
    width: 100vw;
    /* height: 100%; */
    aspect-ratio: 16 / 9;
}

.links {
  color: #0070f3;
  text-decoration: none;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: end;
  /* margin-top: 1rem; */
  flex-direction: column;
}

.description {
  color: #333;
  font-size: 1rem;
  line-height: 1;
  text-align: right;
  /* margin-top: 1rem; */
}

.links a{
  font-size: 1rem;
  /* line-height: 2.5rem; */
  font-weight: normal;
  background-color: grey;
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 0.5rem;
  /* align-items: right; */
  font-style: unset;
  text-decoration: none;
}

.links a:hover{
  background-color: #0070f3;
  color: white;
  text-decoration: none;
}

.links a:visited{
  color: #ffffff;
  text-decoration: none;
}
code {
  background: #e2e8f0;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
